.preview-component
    width: 90%
    max-width: 800px
    .markdown-preview-container
        border: 1px solid black
        min-height: 200px
        background: #c0d8d8
        padding: 0 1rem



// Code snippet related styles.
code
    background: #ffffff
    display: inline-block
    padding:  0.2rem 0.3rem
    margin: 0 0.2rem
    text-align: justify
    font-weight: bold
    overflow: auto
    max-width: 95%
    white-space: nowrap
    .token.operator
        color: #9a6e3a
    .token.keyword
        color: #07a
    .token.name
        color: #dd4a68
    .token.parameter
        color: #212529
    .token.value
        color: #b3d89c
    .token.punctuation
        color:  #999
    .token.string
        color: #690
    .token.comment
        color: #708090
    p
        margin: 0.5rem 0
.multi-line-code
    min-width: 95%

@media (max-width: 500px) 
    .multi-line-code
        max-width: 80%

img
    width: auto
    max-width: 90%
    margin: 0 auto
    object-fit: cover

// Table related styles
table
    border-collapse: collapse
    display: block
    overflow: auto
    white-space: nowrap
    $border-default-settings: 2px solid #224b4b
    td,th
        padding: 0.5rem
    .not-separation
        td, th
            border: $border-default-settings
    .separation
        td,th
            border-top: $border-default-settings
            border-left: $border-default-settings
            border-right: $border-default-settings
            border-bottom: 4px solid #4a4a48
    .after-separation
        td,th
            border-top: none

blockquote
    border-left: 5px solid gray
    padding-left: 0.6rem


@media (max-width: 500px) 
    table
        width: 90%
        margin: 0 auto
        
